@import "../../SCSS/abstracts/variable";

.rt-win {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  &--l {
    flex: 1;
    background-color: $color-bg;
    &__searchbox {
      display: flex;
      justify-content: center;
      padding: 3.3rem 0;
    }
  }
  &--r {
    flex: 1;
    background-color: $color-gray-1;
  }
}